# Data Collection

### 1. Designing the Overall Strategies
**1-1. Determine the project objectives** <br>
- To build an investment model that maximizes the returns of qualterly investment portfolio in healthcare. <br>
- To build an interactive dashboard capturing the model results for portfolio managers.
<br><br>

**1.2. Research for methodology, platforms for the data acquisition, and brainstorming** <br>
- **Fundamental Analysis:** The concept of Fundamental Analysis is adopted to rank stocks. Then, portfolio optimazation modeling is conducted with top 25% ranked stocks. <br>


Ï†ÄÌù¨Îäî FAÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ Ï£ºÏãùÏùÑ ÏàúÏúÑÎ•º Îß§Í∏∞Í≥†, Í∑∏ Îß§Í≤®ÏßÑ Ï£ºÏãùÏ§ë ÌÉë Ï£ºÏãùÎì§ÏùÑ Î™®Îç∏ÎßÅÏóê Ìè¨Ìï®ÌñàÏäµÎãàÎã§. 

Fundamental Analysis is a method of determining a stock's real or "fair market" value by examining related economic and financial factors. The financial ratios of a firm can infer the financial health (or fair market value) of the organization. If the fair market value (intrinsic value or true value) is higher than the market price, the stock is deemed undervalued, and a buy recommendation is given. On the other hand, if the fair market value is lower than the market price, the stock is deemed overvalued, and the recommendation might be not to buy or to sell if the stock is held. We used financial rations as the indicators to assess stocks to downsize the number of stocks in healthcare for the portfolio optimization modeling. <br>


- **OLS (Statistics), equal weight, EBM, and XGB (Machine Learning):**

These methods were leveraged to rank financial ratios. There are many financial ratios available and we need to decide what kind of ratios are appropriate for our modeling. We're interested in recognizing ratios that have the biggest influence in relates to daily stock price change using these methods. After ranking ratios, 17 ratios were selected as the base to rank stocks. Then, top 25% of stocks were 

in the context of having the most clos relationship with the change in daily stock prices.

Ïù¥ Î∞©ÏãùÎì§ÏùÄ financial ratiosÎì§ÏùÑ Îß§Í∏∞ÎäîÎç∞ ÏÇ¨Ïö© ÎêòÏóàÏäµÎãàÎã§. FAÏùÑÌïòÍ∏∞ ÏúÑÌï¥ÏÑúÎäî ÌäπÏ†ï finantial ratiosÎ•º ÏÇ¨Ïö©ÌïòÏó¨ ÌöåÏÇ¨Î•º ÌçôÍ∞ÄÌïòÎäî Í∏∞Ï§ÄÏù¥ ÎêòÎäîÎç∞, Ï£ºÍ∞ÄÏóê Í∞ÄÏû• Í¥ÄÎ†®Ïù¥ÎêòÍ≥† Ï£ºÏÇ¨ Î≥ÄÎèôÏóê ÏòÅÌñ•ÏùÑ ÎØ∏ÏπòÎäî ratiosÎ•º Íµ¨Î≥ÑÌïòÍ∏∞ÏúÑÌï¥ Ïù¥Îü¨Ìïú Î∞©Î≤ïÎì§ÏùÑ ÏÇ¨Ïö©ÌïòÏòÄÏäµÎãàÎã§. 
Ïù¥ Î∞©Î≤ïÎì§Î°ú Î®ºÏ†Ä ratiosÎì§ÏùÑ ÏàúÏúÑÎ•º Îß§Í∏¥ Îí§, Í∑∏Í≤ÉÏùÑ Í∏∞Î∞òÏúºÎ°ú (Í∏∞Ï§Ä) Ï£ºÏãùÏùò ÏàúÏúÑÎ•º Ï†ïÌïòÍ≥† Í±∞Í∏∞ÏÑú ÏÉÅÏúÑÍ∂å 25% Ï£ºÏãùÎì§ÏùÑ portfolio optimiaationÏóê Ìè¨Ìï®ÌñàÏäµÎãàÎã§. 
Ï†ÄÌù¨Í∞Ä ÏÉÅÏúÑÍ∂å 10%, 15%, 20%,25%, and 30%Î•º ÌïòÏö©ÌïòÏó¨ Î™®Îç∏ÎßÅÏùÑ Ìï¥Î≥∏ Í≤∞Í≥º, 25%Í∞Ä Í∞ÄÏû• ÏïàÏ†ïÏ†ÅÏù¥Í≥† Ï†ïÎãπÌïú Ï£ºÏãùÏùò Í∞úÏàòÎ•º Ï†úÍ≥µÌïòÏòÄÍ∏∞Ïóê ÏÉÅÏúÑÍ∂å 25%Î°ú Ï£ºÏãùÏùÑ Ìè¨Ìä∏Ìè¥Î¶¨Ïò§ Î™®Îç∏ÎßÅÏóê Ìè¨Ìï®ÏÇ¨ÌÇ§Í∏∞Î°ú Í≤∞Ï†ï ÌïòÏòÄÏäµÎãàÎã§.

Applying Fundamental Analysis, the team rated financial ratios in regards to having the most significant influence over the daily stock prices. The ranking is purely the reflection of how certain financial ratio is related to the stock price change. The assumption made is that if one has more sensitive relationship with daily stock prcie

ÎßåÏïΩ Í∞ÄÍ≤©Ïóê ÏòÅÌñ•ÏùÑ Îçî ÎßéÏù¥ Î∞õÎäî Í≥µÏãùÏù¥ ÏûàÎã§Î©¥, Í∑∏Í≤ÉÏù¥ Ìà¨ÏûêÌï†Îïå ÌöåÏÇ¨Ïùò fiananacial healthÎ•º ÌèâÍ∞ÄÌïòÎäîÎç∞ Îçî ÎèÑÏõÄÏù¥ ÎêòÎäî Í≥µÏãùÏù¥ÎùºÍ≥† Í∞ÄÏ†ïÎê®. 
to assess 



- **Portfolio Optimization:**

ÏµúÏ†ÅÌôî Î™®Îç∏ÎßÅÏùÑ ÏÇ¨Ïö©ÌïòÏó¨, Í∞ÄÏû• ÎÜíÏùÄ sharpe ratio (returns)ÏùÑ Ï†úÍ≥µÌïòÎäî Ï£ºÏãùÎì§Ïùò combinationÏùÑ ÏïåÏïÑÎÉàÏäµÎãàÎã§.


- **Backtesting:**


Note that 17 ratios are used for modeling. the 17 financial ratios are calculated with the 10-year financial statement information of publicly traded healthcare firms. The way financial ratios are rated is based on the independent variables including trade dates, firms‚Äô various financial ratios, and yesterday‚Äôs stock prices against the percent change in the daily stock prices for 10 years using XGB, EBM, OLS, and equal weights. Equal weight means that the 17 different financial ratios are evenly rated with the same weight assuming each ratio is equally important. As a result of XGB and EBM, the feature importance of each financial ratio is calculated and it‚Äôs converted to a weight indicating the extent of the importance of the ratio. The greater value of a weight refers to a more significant ratio in terms of the daily stock price change. 

After the weight per ratio is identified, it‚Äôs used to obtain the overall rankings of stocks using the Python function ‚Äòrank().‚Äô Note that the ratios have different standards for interpreting the values. For example, higher values are interpreted as better for some ratios and lower values are deemed to be better for other ratios. 


> - Valuation Ratios 
> 1. Price to Sales (P/S): The value that financial markets have placed on each dollar of a firm‚Äôs sales
> 2. Price to Earning (P/E): Compares current price to EPS (over/under/fair-valued), Average of historical P/Es  VS  Today‚Äôs P/E (monthly) 
> 3. Price to Earning Growth (P/EG): P/E / EPS growth
> 4. Price to Book (P/B): Compares a company's current market value to its book value
> 5. Price to Cash Flow (P/CF): Measures how much cash a company generates relative to its stock price (Stock price to cash flow per share) 
> 6. Price to Operating Cash Flows (P/OCF): stock Price/ operating cash flow 
> 7. Price to Free Cash Flows (P/FCF): market capitalization/ free cash flow 
> - Profitability Ratios
> 8. Profit Margin: Amount by which revenue from sales exceeds costs in a business
> 9. Gross Profit Margin: (Revenue-COGS)/ Revenue
> 10. Net Profit Margin: Net income/ revenues 
> 11. Operating Profit Margin: Operating profit/ revenue
> 12. Earnings Per Share (EPS): Profit per share held by common stockholders
> 13. Return On Equity (ROE): Efficiency of the usage of the assets to generate profits
> - Liquidity Ratios
> 14. Debt to Equity (D/E): Measure of how much debt you use to run a business
> 15. Cash: (Cash + cash equivalents)/ current liabilities
> 16. Current: Assets to liabilities
> 17. Quick: Ability to convert current liquid assets to cash quickly to perform debt obligations

<br>
<br>

### 2. Preparation for Data Sourcing

**2-1. Identifying the full list of publicly traded healthcare companies in the US --> The list is downloaded from the NASDAQ website** <br>
- More than 3000 healthcare companies registered: Scaled down to 425 by excluding penny stocks (closing stock price below $5) & certain subsectors

<br>

**2-2. Selecting the API provider for sourcing stock information (daily) and financial statements (quarterly)**


<br>
<br>
<br>

### 3. Data Sourcing

##### 3-1) Importing Stock Data from the API

In [19]:
# Importing and installing necessary library packages
# !pip install fundamentalanalysis

import fundamentalanalysis as fa
import pandas as pd 
import datetime as dt
from pandas.tseries.offsets import DateOffset
import sqlite3

In [20]:
# creating a SQL connection to our SQLite database of the API???
con = sqlite3.connect("stock_price.sqlite")

# Our own API key to import data
api_key = "4bb8c97ef8cbd870dd863e1e5727bf32"

In [8]:
# creating a list of healthcare companies' tickers
# there are 425 healthcare stocks symbols select


# Stock Symbols of 425 publictly traded healthcare companies (Penny stocks (closing stock prices below $5) excluded)
# creating a list of companies' tickers

comps =['TXG','TSVT','FDMT','MASS','AADI','ABT','ABBV','ABMD','ACHC','ACAD',
        'ACHV','ACRS','ATNM','AHCO','ADPT','ADUS','ACET','AERI','AVTE','AGIO',
        'AIRS','AKRO','ALBO','ALEC','ALGN','ALHC','ALIM','ALLO','ALNY','ATEC',
        'ALPN','ALXO','AMED','ABC','AMGN','FOLD','AMN','AMPH','AMLX','ANTX',
        'ANAB','AVXL','ANGO','ANIP','ANIK','ANTM','APLS','AMEH','ATR','APYX',
        'ACLX','ARQT','ARWR','AORT','ARVN','ATRC','ATRI','AURA','AVNS','CDMO',
        'RNA','RCEL','AXGN','AXNX','AXSM','AZTA','AZYO','BAX','BDX','BDXB',
        'BCRX','BIIB','BHVN','BLFS','BMRN','BMEA','BNOX','TECH','BVS','BTAI',
        'BPMC','BSX','BBIO','BMY','BKD','CCCC','CARA','CAH','CSII','MTBCP',
        'MTBCO','CDNA','SAVA','CSTL','CTLT','CPRX','CELC','CLDX','CELU','CNC',
        'CERN','CERS','CSBR','CHNG','CHNGU','CHE','CCXI','KDNY','CI','CINC',
        'CLPT','CDXS','COGT','CHRS','COLL','CYH','CNCE','CNMD','CORT','CVET',
        'CRNX','CCEL','CTIC','CGEM','CUTR','CVRX','CVS','CYCCP','CTKB','CYTK',
        'DHR','DVA','DXR','DAWN','DCPH','DNLI','XRAY','DMTK','DSGN','DXCM',
        'DICE','DFFN','DCGO','DVAX','EGRX','EWTX','EDIT','EW','EIGR','ELAT',
        'ELAN','ELMD','LLY','EBS','ENTA','EHC','TRDA','ERAS','ESPR','EVH',
        'EXAS','XGN','EXEL','EYPT','FATE','FGEN','FONR','FMTX','FBIOP','FULC',
        'FLGT','GILD','GKOS','GBT','GMED','GOSS','GRNA','GLSI','GRVI','GH',
        'HAE','HALO','HNGR','HRMY','HROW','HCA','HCAT','HCSG','HQY','HSIC',
        'HSKA','HOLX','HUMA','HUM','ICVX','ICUI','IDYA','IDXX','IGMS','ILMN',
        'IMGO','ICCC','IMUX','IMPL','NARI','INCY','INFU','INBX','INMB','INVA',
        'INGN','NOTV','INSM','INSP','TIL','PODD','ITGR','IART','NTLA','ICPT',
        'ITCI','ISRG','IONS','IOVA','IQV','IRMD','IRTC','IRWD','ISEE','JANX',
        'JNJ','KRTX','KZR','KNSA','KNTE','KOD','KRYS','KURA','LH','LNDC',
        'LTRN','LNTH','LEGN','LMAT','LNSR','LHCG','LFST','LGND','LUMO','LUNA',
        'MDGL','MRVI','MRNS','MASI','MCK','MD','MEDP','MDT','MGTX','MRK',
        'VIVO','MMSI','MACK','MRTX','MIRM','MRNA','MOH','GLUE','MORF','MYOV',
        'MYGN','NSTG','NTRA','NHC','EYE','NTUS','NEOG','NEO','NBIX','NPCE',
        'NVRO','NXGN','NGM','NKTX','NVAX','NUS','NRIX','NTRBW','NUVL','NUVA',
        'OSH','OMCL','OPNT','OPRX','OPCH','ORGO','OCDX','KIDS','OM','OMI',
        'PACB','PCRX','PDCO','PKI','PRGO','PETQ','PFE','PHAT','PHR','PRAX',
        'PINC','PBH','PRCT','PDEX','PGNY','RXDX','PRPH','PTGX','PRTA','PMD',
        'PTCT','PULM','LUNG','QTRX','DGX','QDEL','RDUS','RDNT','RLYB','RPID',
        'RAPT','RETA','RXRX','REGN','RGNX','RLAY','RLMD','RGEN','REPL','RMD',
        'RVNC','RCKT','RPRX','RXST','SAGE','SMTI','SRPT','SGEN','SPNE','SEM',
        'SMLR','SRTS','SWAV','SIBN','SIGA','SGHT','SILK','DNAD','SLGC','SNDA',
        'SHC','SWTX','STAA','STRRP','STE','STOK','SYK','SUPN','SRGA','SGRY',
        'SRDX','SNDX','SYNH','TCMD','TALS','TNDM','TNGX','TELA','TDOC','TFX',
        'THC','TGTX','COO','ENSG','TOI','PNTG','THRX','TVTY','TMDX','TVTX',
        'TMCI','TCDA','TRUP','TPTX','TWST','TYRA','USPH','UFPT','RARE','UTHR',
        'UNH','UHS','UTMD','VNDA','VREX','PCVX','VERA','VCYT','VCEL','VRTX',
        'VERU','VIR','VRDN','VYGR','WAT','WST','XNCR','XOMAP','XOMA','XOMAO',
        'YMAB','ZBH','ZIMV','ZTS','ZYXI']                                 


comps

['TXG',
 'TSVT',
 'FDMT',
 'MASS',
 'AADI',
 'ABT',
 'ABBV',
 'ABMD',
 'ACHC',
 'ACAD',
 'ACHV',
 'ACRS',
 'ATNM',
 'AHCO',
 'ADPT',
 'ADUS',
 'ACET',
 'AERI',
 'AVTE',
 'AGIO',
 'AIRS',
 'AKRO',
 'ALBO',
 'ALEC',
 'ALGN',
 'ALHC',
 'ALIM',
 'ALLO',
 'ALNY',
 'ATEC',
 'ALPN',
 'ALXO',
 'AMED',
 'ABC',
 'AMGN',
 'FOLD',
 'AMN',
 'AMPH',
 'AMLX',
 'ANTX',
 'ANAB',
 'AVXL',
 'ANGO',
 'ANIP',
 'ANIK',
 'ANTM',
 'APLS',
 'AMEH',
 'ATR',
 'APYX',
 'ACLX',
 'ARQT',
 'ARWR',
 'AORT',
 'ARVN',
 'ATRC',
 'ATRI',
 'AURA',
 'AVNS',
 'CDMO',
 'RNA',
 'RCEL',
 'AXGN',
 'AXNX',
 'AXSM',
 'AZTA',
 'AZYO',
 'BAX',
 'BDX',
 'BDXB',
 'BCRX',
 'BIIB',
 'BHVN',
 'BLFS',
 'BMRN',
 'BMEA',
 'BNOX',
 'TECH',
 'BVS',
 'BTAI',
 'BPMC',
 'BSX',
 'BBIO',
 'BMY',
 'BKD',
 'CCCC',
 'CARA',
 'CAH',
 'CSII',
 'MTBCP',
 'MTBCO',
 'CDNA',
 'SAVA',
 'CSTL',
 'CTLT',
 'CPRX',
 'CELC',
 'CLDX',
 'CELU',
 'CNC',
 'CERN',
 'CERS',
 'CSBR',
 'CHNG',
 'CHNGU',
 'CHE',
 'CCXI',
 'KDNY',
 'CI',
 'CINC',
 'CLPT',
 'CDXS',
 'COGT',
 'CHRS',
 'COLL',
 'CYH',
 'CNCE',
 'CNMD',
 'CORT',
 'CVET',
 'CRNX',
 'CCEL',
 'CTIC',
 'CGEM',
 'CUTR',
 'CVRX',
 'CVS',
 'CYCCP',
 'CTKB',
 'CYTK',
 'DHR',
 'DVA',
 'DXR',
 'DAWN',
 'DCPH',
 'DNLI',
 'XRAY',
 'DMTK',
 'DSGN',
 'DXCM',
 'DICE',
 'DFFN',
 'DCGO',
 'DVAX',
 'EGRX',
 'EWTX',
 'EDIT',
 'EW',
 'EIGR',
 'ELAT',
 'ELAN',
 'ELMD',
 'LLY',
 'EBS',
 'ENTA',
 'EHC',
 'TRDA',
 'ERAS',
 'ESPR',
 'EVH',
 'EXAS',
 'XGN',
 'EXEL',
 'EYPT',
 'FATE',
 'FGEN',
 'FONR',
 'FMTX',
 'FBIOP',
 'FULC',
 'FLGT',
 'GILD',
 'GKOS',
 'GBT',
 'GMED',
 'GOSS',
 'GRNA',
 'GLSI',
 'GRVI',
 'GH',
 'HAE',
 'HALO',
 'HNGR',
 'HRMY',
 'HROW',
 'HCA',
 'HCAT',
 'HCSG',
 'HQY',
 'HSIC',
 'HSKA',
 'HOLX',
 'HUMA',
 'HUM',
 'ICVX',
 'ICUI',
 'IDYA',
 'IDXX',
 'IGMS',
 'ILMN',
 'IMGO',
 'ICCC',
 'IMUX',
 'IMPL',
 'NARI',
 'INCY',
 'INFU',
 'INBX',
 'INMB',
 'INVA',
 'INGN',
 'NOTV',
 'INSM',
 'INSP',
 'TIL',
 'PODD',
 'ITGR',
 'IART',
 'NTLA',
 'ICPT',
 'ITCI',
 'ISRG',
 'IONS',
 'IOVA',
 'IQV',
 'IRMD',
 'IRTC',
 'IRWD',
 'ISEE',
 'JANX',
 'JNJ',
 'KRTX',
 'KZR',
 'KNSA',
 'KNTE',
 'KOD',
 'KRYS',
 'KURA',
 'LH',
 'LNDC',
 'LTRN',
 'LNTH',
 'LEGN',
 'LMAT',
 'LNSR',
 'LHCG',
 'LFST',
 'LGND',
 'LUMO',
 'LUNA',
 'MDGL',
 'MRVI',
 'MRNS',
 'MASI',
 'MCK',
 'MD',
 'MEDP',
 'MDT',
 'MGTX',
 'MRK',
 'VIVO',
 'MMSI',
 'MACK',
 'MRTX',
 'MIRM',
 'MRNA',
 'MOH',
 'GLUE',
 'MORF',
 'MYOV',
 'MYGN',
 'NSTG',
 'NTRA',
 'NHC',
 'EYE',
 'NTUS',
 'NEOG',
 'NEO',
 'NBIX',
 'NPCE',
 'NVRO',
 'NXGN',
 'NGM',
 'NKTX',
 'NVAX',
 'NUS',
 'NRIX',
 'NTRBW',
 'NUVL',
 'NUVA',
 'OSH',
 'OMCL',
 'OPNT',
 'OPRX',
 'OPCH',
 'ORGO',
 'OCDX',
 'KIDS',
 'OM',
 'OMI',
 'PACB',
 'PCRX',
 'PDCO',
 'PKI',
 'PRGO',
 'PETQ',
 'PFE',
 'PHAT',
 'PHR',
 'PRAX',
 'PINC',
 'PBH',
 'PRCT',
 'PDEX',
 'PGNY',
 'RXDX',
 'PRPH',
 'PTGX',
 'PRTA',
 'PMD',
 'PTCT',
 'PULM',
 'LUNG',
 'QTRX',
 'DGX',
 'QDEL',
 'RDUS',
 'RDNT',
 'RLYB',
 'RPID',
 'RAPT',
 'RETA',
 'RXRX',
 'REGN',
 'RGNX',
 'RLAY',
 'RLMD',
 'RGEN',
 'REPL',
 'RMD',
 'RVNC',
 'RCKT',
 'RPRX',
 'RXST',
 'SAGE',
 'SMTI',
 'SRPT',
 'SGEN',
 'SPNE',
 'SEM',
 'SMLR',
 'SRTS',
 'SWAV',
 'SIBN',
 'SIGA',
 'SGHT',
 'SILK',
 'DNAD',
 'SLGC',
 'SNDA',
 'SHC',
 'SWTX',
 'STAA',
 'STRRP',
 'STE',
 'STOK',
 'SYK',
 'SUPN',
 'SRGA',
 'SGRY',
 'SRDX',
 'SNDX',
 'SYNH',
 'TCMD',
 'TALS',
 'TNDM',
 'TNGX',
 'TELA',
 'TDOC',
 'TFX',
 'THC',
 'TGTX',
 'COO',
 'ENSG',
 'TOI',
 'PNTG',
 'THRX',
 'TVTY',
 'TMDX',
 'TVTX',
 'TMCI',
 'TCDA',
 'TRUP',
 'TPTX',
 'TWST',
 'TYRA',
 'USPH',
 'UFPT',
 'RARE',
 'UTHR',
 'UNH',
 'UHS',
 'UTMD',
 'VNDA',
 'VREX',
 'PCVX',
 'VERA',
 'VCYT',
 'VCEL',
 'VRTX',
 'VERU',
 'VIR',
 'VRDN',
 'VYGR',
 'WAT',
 'WST',
 'XNCR',
 'XOMAP',
 'XOMA',
 'XOMAO',
 'YMAB',
 'ZBH',
 'ZIMV',
 'ZTS',
 'ZYXI']

In [ ]:
# The index date for quarterly info varies from each ‚ÄòTicker‚Äô (company) 

#firms = ['JNJ']    # Index period is 2022-04 for 'period' (Q1)
#firms = ['VNDA']   # Index period is 2022-03 for 'period' (Q1)
#firms = ['GOSS']   # Index period is 2022-03 for 'period' (Q1)
#firms = ['ALHC']   # Index period is 2022-03 for 'period' (Q1)
#firms = ['TXG']    # Index period is 2022-03 for 'period' (Q1)

# P.S. It takes a while to run this code (because of the for loop) üëá

In [24]:
# creating an empty df to pass through multiple dfs: for stock information
stocks = pd.DataFrame()                                                                                    

# creating a loop to scrape all stocks
for ticker in comps:                                                    
    stock_data_detailed = fa.stock_data_detailed(ticker, api_key)       # getting daliy price info using the API through python package
    stock_data_detailed['Ticker'] = ticker                              # creating a column 'Ticker'
    stocks = stocks.append(stock_data_detailed)                         # adding the single dateframe 'stock_data_detailed' to the empty one

In [34]:
# reading in data
stocks = pd.read_csv("stocks_raw.csv")
stocks

,Unnamed: 0,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime,Ticker
0,2022-03-30,76.280,79.570,74.450,74.74,74.740,1108557.0,1108557.0,-1.540,-2.019,76.25333,"March 30, 22",-0.02019,TXG
1,2022-03-29,71.990,77.360,71.990,77.25,77.250,1139688.0,1139688.0,5.260,7.307,75.53333,"March 29, 22",0.07307,TXG
2,2022-03-28,67.990,71.700,67.580,70.41,70.410,584848.0,584848.0,2.420,3.559,69.89667,"March 28, 22",0.03559,TXG
3,2022-03-25,69.600,70.110,65.890,67.79,67.790,790146.0,790146.0,-1.810,-2.601,67.93000,"March 25, 22",-0.02601,TXG
4,2022-03-24,68.450,69.090,65.010,68.99,68.990,567907.0,567907.0,0.540,0.789,67.69667,"March 24, 22",0.00789,TXG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1492210,2003-12-23,1.260,1.365,1.225,1.95,1.365,4400.0,4400.0,0.690,54.762,1.51333,"December 23, 03",0.54762,ZYXI
1492211,2003-12-22,0.910,0.910,0.910,1.30,0.910,600.0,600.0,0.390,42.857,1.04000,"December 22, 03",0.42857,ZYXI
1492212,2003-12-19,0.707,0.707,0.707,1.01,0.707,1200.0,1200.0,0.303,42.857,0.80800,"December 19, 03",0.42857,ZYXI
1492213,2003-12-18,0.707,0.707,0.707,1.01,0.707,1200.0,1200.0,0.303,42.857,0.80800,"December 18, 03",0.42857,ZYXI
1492214,2003-12-17,0.707,0.707,0.707,1.01,0.707,1200.0,1200.0,0.303,42.857,0.80800,"December 17, 03",0.42857,ZYXI

In [35]:
#begin="2012-01-01"    
#stocks.reset_index(inplace=True)                                       # converting date index to a column
stocks = stocks.rename(columns = {'Unnamed: 0':'date'})                 # renaming a column
stocks = stocks.drop(columns=['label'])                                 # dropping a column: the second date column
stocks = stocks.convert_dtypes()                                        # converting data types: float to int
stocks['date'] = pd.to_datetime(stocks['date'])                         # converting date data type to datetime
stocks["Quarter"] = stocks['date'].dt.to_period('Q')                    # adding a column: quarter of the date 
stocks = stocks[stocks['Quarter'] > "2011Q4"]                           # filtering data
stocks

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,changeOverTime,Ticker,Quarter
0,2022-03-30,76.28,79.57,74.45,74.74,74.74,1108557,1108557,-1.54,-2.019,76.25333,-0.02019,TXG,2022Q1
1,2022-03-29,71.99,77.36,71.99,77.25,77.25,1139688,1139688,5.26,7.307,75.53333,0.07307,TXG,2022Q1
2,2022-03-28,67.99,71.7,67.58,70.41,70.41,584848,584848,2.42,3.559,69.89667,0.03559,TXG,2022Q1
3,2022-03-25,69.6,70.11,65.89,67.79,67.79,790146,790146,-1.81,-2.601,67.93,-0.02601,TXG,2022Q1
4,2022-03-24,68.45,69.09,65.01,68.99,68.99,567907,567907,0.54,0.789,67.69667,0.00789,TXG,2022Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490185,2012-01-09,0.563636,0.627273,0.563636,0.627273,0.31348,5390,5390,0.07,22.921,0.35207,0.22921,ZYXI,2012Q1
1490186,2012-01-06,0.563636,0.672727,0.563636,0.672727,0.336196,8360,8360,0.12,42.463,0.3626,0.42463,ZYXI,2012Q1
1490187,2012-01-05,0.636364,0.663636,0.636364,0.663636,0.331652,4070,4070,0.03,8.17,0.3872,0.0817,ZYXI,2012Q1
1490188,2012-01-04,0.645455,0.645455,0.645455,0.645455,0.322566,1100,1100,0.0,0.0,0.3863,0.0,ZYXI,2012Q1
1490189,2012-01-03,0.636364,0.636364,0.636364,0.636364,0.318023,880,880,0.0,0.0,0.3808,0.0,ZYXI,2012Q1

##### 3-2) Importing Financial Ratios from the API

# P.S. It takes a while to run this code (because of the for loop) üëá

In [3]:
# creating an empty df to pass through multiple dfs: for financial ratio information
ratios = pd.DataFrame()                                                                                                          

# creating a loop to scrape all stocks
for ticker in comps:                                                                                                           
    financial_ratios_quarterly = fa.financial_ratios(ticker, api_key, period="quarter")        # getting financial ratio info using the API through python package
    financial_ratios_quarterly = financial_ratios_quarterly.T
    financial_ratios_quarterly['Ticker'] = ticker                                              # creating a column 'Ticker'
    ratios = ratios.append(financial_ratios_quarterly)                                         # adding the single dateframe 'financial_ratios_quarterly' to the empty one

In [36]:
# reading in data
ratios = pd.read_csv("ratios_raw.csv")
ratios

,Unnamed: 0,period,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,...,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue,Ticker
0,2022-03,Q1,7.383425,6.520647,3.308631,243.956033,225.007065,285.160607,66.961300,218.199307,...,-50.173068,NaN,NaN,NaN,0.364895,74.342871,NaN,-199.698055,10.551778,TXG
1,2021-12,Q4,6.774296,6.095680,5.323151,216.802829,195.555475,249.013707,56.583448,192.430259,...,-225.867159,-764.135738,2871.333824,2871.333824,33.880074,116.129679,NaN,-1912.283938,20.387409,TXG
2,2021-09,Q3,7.413240,6.763337,5.981968,228.472749,187.726976,244.062722,62.538951,181.523771,...,-235.004854,-347.545882,-615.695506,-615.695506,4.700097,128.822505,NaN,-1706.448808,20.170770,TXG
3,2021-06,Q2,6.693192,6.025476,5.497923,188.042334,807.289929,853.656532,296.295015,557.361516,...,-486.654417,-1879.281836,6895.518737,6895.518737,-53.531986,185.718638,NaN,-8182.233591,27.420854,TXG
4,2021-03,Q1,6.185999,5.596090,5.119868,198.012871,203.143611,251.968702,82.181712,169.786991,...,-425.877389,-458.174934,-4820.489683,-4820.489683,-4.383366,185.948336,NaN,-4321.785382,26.150545,TXG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21212,2003-12,Q4,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,-844.098450,NaN,NaN,NaN,-13.503496,NaN,NaN,-3376.393799,-108.869609,ZYXI
21213,2003-09,Q3,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,-35.610825,NaN,NaN,NaN,0.761896,NaN,NaN,-700.314292,-4.966060,ZYXI
21214,2003-06,Q2,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,-143.781619,-1724.710177,-1724.710177,-1724.710177,-3.276013,NaN,NaN,-9240.604920,-32.497399,ZYXI
21215,2003-03,Q1,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,-154.320126,NaN,NaN,NaN,-1.877829,NaN,NaN,-3418.399649,-21.812834,ZYXI
21216,2002-12,Q4,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,...,-42.879766,NaN,NaN,NaN,-0.453933,NaN,NaN,-464.351003,-8.635000,ZYXI

In [37]:
#ratios.reset_index(inplace=True)                                                              # converting date index to a column
ratios = ratios.rename(columns = {'Unnamed: 0':'date'})                                        # renaming a column
ratios = ratios.convert_dtypes()                                                                 # converting data types: float to int
ratios['date'] = pd.to_datetime(ratios['date'])                                                # converting date data type to datetime
ratios['date'] = ratios['date'] - DateOffset(days=1)                                           # adjustment: getting last date of previous month to match pandas method of couunting quarterly
ratios["Quarter"] = ratios['date'].dt.to_period('Q')                                           # adding a column: quarter of the date  
ratios

,date,period,currentRatio,quickRatio,cashRatio,daysOfSalesOutstanding,daysOfInventoryOutstanding,operatingCycle,daysOfPayablesOutstanding,cashConversionCycle,...,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,priceEarningsToGrowthRatio,priceSalesRatio,dividendYield,enterpriseValueMultiple,priceFairValue,Ticker,Quarter
0,2022-02-28,Q1,7.383425,6.520647,3.308631,243.956033,225.007065,285.160607,66.9613,218.199307,...,<NA>,<NA>,<NA>,0.364895,74.342871,<NA>,-199.698055,10.551778,TXG,2022Q1
1,2021-11-30,Q4,6.774296,6.09568,5.323151,216.802829,195.555475,249.013707,56.583448,192.430259,...,-764.135738,2871.333824,2871.333824,33.880074,116.129679,<NA>,-1912.283938,20.387409,TXG,2021Q4
2,2021-08-31,Q3,7.41324,6.763337,5.981968,228.472749,187.726976,244.062722,62.538951,181.523771,...,-347.545882,-615.695506,-615.695506,4.700097,128.822505,<NA>,-1706.448808,20.17077,TXG,2021Q3
3,2021-05-31,Q2,6.693192,6.025476,5.497923,188.042334,807.289929,853.656532,296.295015,557.361516,...,-1879.281836,6895.518737,6895.518737,-53.531986,185.718638,<NA>,-8182.233591,27.420854,TXG,2021Q2
4,2021-02-28,Q1,6.185999,5.59609,5.119868,198.012871,203.143611,251.968702,82.181712,169.786991,...,-458.174934,-4820.489683,-4820.489683,-4.383366,185.948336,<NA>,-4321.785382,26.150545,TXG,2021Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21212,2003-11-30,Q4,0.0,0.0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,-13.503496,<NA>,<NA>,-3376.393799,-108.869609,ZYXI,2003Q4
21213,2003-08-31,Q3,0.0,0.0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,0.761896,<NA>,<NA>,-700.314292,-4.96606,ZYXI,2003Q3
21214,2003-05-31,Q2,0.0,0.0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,...,-1724.710177,-1724.710177,-1724.710177,-3.276013,<NA>,<NA>,-9240.60492,-32.497399,ZYXI,2003Q2
21215,2003-02-28,Q1,0.0,0.0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,-1.877829,<NA>,<NA>,-3418.399649,-21.812834,ZYXI,2003Q1
21216,2002-11-30,Q4,0.0,0.0,0.0,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,-0.453933,<NA>,<NA>,-464.351003,-8.635,ZYXI,2002Q4

In [51]:
# getting the 15 quarterly ratios we want
# getting certain columns
nratios = ratios.loc[:,['Quarter','Ticker','period',
                        'priceToBookRatio','priceToSalesRatio','priceEarningsRatio','priceToFreeCashFlowsRatio','priceToOperatingCashFlowsRatio',
                        'priceCashFlowRatio','grossProfitMargin','operatingProfitMargin','pretaxProfitMargin','netProfitMargin',
                        'returnOnEquity','currentRatio','quickRatio','cashRatio','debtEquityRatio']]                                                             

nratioso = (nratios['Quarter'] > "2011Q4")                              # filtering data: getting the ratios from 2012 and on 
nratios = nratios.loc[nratioso]                                         # creating the df
nratios

,Quarter,Ticker,period,priceToBookRatio,priceToSalesRatio,priceEarningsRatio,priceToFreeCashFlowsRatio,priceToOperatingCashFlowsRatio,priceCashFlowRatio,grossProfitMargin,operatingProfitMargin,pretaxProfitMargin,netProfitMargin,returnOnEquity,currentRatio,quickRatio,cashRatio,debtEquityRatio
0,2022Q1,TXG,Q1,10.551778,74.342871,-50.173068,<NA>,<NA>,<NA>,0.777477,-0.364511,-0.364152,-0.370432,-0.052577,7.383425,6.520647,3.308631,0.243671
1,2021Q4,TXG,Q4,20.387409,116.129679,-225.867159,-764.135738,2871.333824,2871.333824,0.80772,-0.110291,-0.111426,-0.128538,-0.022566,6.774296,6.09568,5.323151,0.246167
2,2021Q3,TXG,Q3,20.17077,128.822505,-235.004854,-347.545882,-615.695506,-615.695506,0.804321,-0.126731,-0.132868,-0.137042,-0.021458,7.41324,6.763337,5.981968,0.237873
3,2021Q2,TXG,Q2,27.420854,185.718638,-486.654417,-1879.281836,6895.518737,6895.518737,0.957572,-0.089156,-0.085962,-0.095406,-0.014086,6.693192,6.025476,5.497923,0.245981
4,2021Q1,TXG,Q1,26.150545,185.948336,-425.877389,-458.174934,-4820.489683,-4820.489683,0.838784,-0.09654,-0.105045,-0.109156,-0.015351,6.185999,5.59609,5.119868,0.267885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21175,2013Q1,ZYXI,Q1,1.586229,2.437266,-15.369207,-17.832973,-18.820701,-18.820701,0.714267,-0.046427,-0.064163,-0.039645,-0.025802,1.821062,1.054425,0.060265,1.104227
21176,2012Q4,ZYXI,Q4,1.809442,2.058125,13.559562,119.800967,67.924536,67.924536,0.721069,0.057297,0.048329,0.037946,0.033361,1.766476,1.078889,0.068056,1.15195
21177,2012Q3,ZYXI,Q3,2.141606,2.465327,17.391575,-40.039767,-157.624906,-157.624906,0.780637,0.070481,0.058107,0.035439,0.030785,1.675303,1.018908,0.065593,1.252386
21178,2012Q2,ZYXI,Q2,2.305984,2.573934,13.639673,-31.742019,-94.875961,-94.875961,0.821863,0.092958,0.084181,0.047177,0.042266,1.683473,1.021689,0.04986,1.278081
21179,2012Q1,ZYXI,Q1,2.316713,2.762234,19.301113,-25.601477,-32.084968,-32.084968,0.797294,0.054338,0.04394,0.035778,0.030008,1.736001,1.0938,0.065536,1.24006

##### 3-3) Importing Financial Statements included in the API
- Income statement
- Balance Sheet
- Statement of Cashflow

In [4]:
# importing statement of cashflow
cashflow = pd.DataFrame()    

for ticker in comps:                                                                                  
    cash_flow_statement_quarterly = fa.cash_flow_statement(ticker, api_key, period="quarter")         
    cash_flow_statement_quarterly = cash_flow_statement_quarterly.T
    cash_flow_statement_quarterly['Ticker'] = ticker
    cashflow = cashflow.append(cash_flow_statement_quarterly)

      Quarter Ticker period  operatingCashFlow
0      2022Q2    TXG     Q2        -16963000.0
1      2022Q1    TXG     Q1        -20802000.0
2      2021Q4    TXG     Q4          5805000.0
3      2021Q3    TXG     Q3        -26216000.0
4      2021Q2    TXG     Q2          3120000.0
...       ...    ...    ...                ...
24599  2013Q1   ZYXI     Q1          -993000.0
24600  2012Q4   ZYXI     Q4           321000.0
24601  2012Q3   ZYXI     Q3          -158000.0
24602  2012Q2   ZYXI     Q2          -272000.0
24603  2012Q1   ZYXI     Q1          -770000.0

[13216 rows x 4 columns]

In [39]:
# reading in data
cashflow = pd.read_csv("cashflow_raw.csv")
cashflow

,Unnamed: 0,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,netIncome,depreciationAndAmortization,deferredIncomeTax,...,effectOfForexChangesOnCash,netChangeInCash,cashAtEndOfPeriod,cashAtBeginningOfPeriod,operatingCashFlow,capitalExpenditure,freeCashFlow,link,finalLink,Ticker
0,2022-03,USD,1770787.0,2022-05-05,2022-05-05 16:06:22,2022,Q1,-4.241300e+10,0.0,0.0,...,0.0,0.0,0.0,596073000.0,0.0,0.0,0.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
1,2021-12,USD,1770787.0,2022-02-18,2022-02-16,2021,Q4,-1.844900e+07,7324000.0,0.0,...,-82000.0,-12992000.0,596073000.0,609065000.0,5805000.0,-27618000.0,-21813000.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
2,2021-09,USD,1770787.0,2021-11-05,2021-11-05 16:06:24,2021,Q3,-1.717100e+07,7275000.0,0.0,...,117000.0,-39643000.0,609065000.0,648708000.0,-26216000.0,-20227000.0,-46443000.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
3,2021-06,USD,1770787.0,2021-08-06,2021-08-06 16:05:41,2021,Q2,-1.105200e+07,7187000.0,0.0,...,6000.0,4751000.0,648708000.0,643957000.0,3120000.0,-14568000.0,-11448000.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
4,2021-03,USD,1770787.0,2021-05-07,2021-05-07 16:07:16,2021,Q1,-1.155100e+07,6468000.0,0.0,...,193000.0,-44687000.0,643957000.0,688644000.0,-4082000.0,-38865000.0,-42947000.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24270,1999-03,USD,846475.0,1999-03-31,1999-03-31,1999,Q1,-9.200000e+01,92.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,ZYXI
24271,1998-12,USD,846475.0,1998-12-31,1998-12-31,1998,Q4,-9.100000e+01,91.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,ZYXI
24272,1998-09,USD,846475.0,1998-09-30,1998-09-30,1998,Q3,-1.445700e+04,92.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,ZYXI
24273,1998-06,USD,846475.0,1998-06-30,1998-06-30,1998,Q2,-1.082000e+03,91.0,0.0,...,0.0,0.0,0.0,6868.0,-513.0,0.0,-513.0,NaN,NaN,ZYXI
24274,1998-03,USD,846475.0,1998-03-31,1998-03-31,1998,Q1,-1.211000e+03,92.0,0.0,...,0.0,513.0,6868.0,6355.0,513.0,0.0,513.0,NaN,NaN,ZYXI

In [52]:
#cashflow.reset_index(inplace=True)                                                                                             
cashflow = cashflow.rename(columns = {'Unnamed: 0':'date'})                                                                         
cashflow = cashflow.convert_dtypes()                                                                                           
cashflow['date'] = pd.to_datetime(cashflow['date'])                                                                            
cashflow['date'] = cashflow['date'] - DateOffset(days=1)                                                                         
cashflow["Quarter"] = cashflow['date'].dt.to_period('Q')                                                                          

# getting certain columns
ncashflow = cashflow.loc[:,['Quarter','Ticker', 'period','operatingCashFlow']]              
ncashflow = ncashflow[ncashflow['Quarter'] > "2011Q4"]                                                                         
ncashflow

      Quarter Ticker period  operatingCashFlow
0      2022Q1    TXG     Q1                0.0
1      2021Q4    TXG     Q4          5805000.0
2      2021Q3    TXG     Q3        -26216000.0
3      2021Q2    TXG     Q2          3120000.0
4      2021Q1    TXG     Q1         -4082000.0
...       ...    ...    ...                ...
24215  2013Q1   ZYXI     Q1          -993000.0
24216  2012Q4   ZYXI     Q4           321000.0
24217  2012Q3   ZYXI     Q3          -158000.0
24218  2012Q2   ZYXI     Q2          -272000.0
24219  2012Q1   ZYXI     Q1          -770000.0

[12831 rows x 4 columns]

In [5]:
# importing income statement
income = pd.DataFrame()

for ticker in comps:                                                                                                        
    income_statement_quarterly = fa.income_statement(ticker, api_key, period="quarter")                                     
    income_statement_quarterly = income_statement_quarterly.T
    income_statement_quarterly['Ticker'] = ticker
    income=income.append(income_statement_quarterly)

,Quarter,Ticker,period,revenue,eps,weightedAverageShsOut,netIncome
0,2022Q2,TXG,Q2,114609000.0,-0.57,113574757.0,-64458000.0
1,2022Q1,TXG,Q1,114496000.0,-0.38,112966196.0,-42413000.0
2,2021Q4,TXG,Q4,143530000.0,-0.16,111896429.0,-18449000.0
3,2021Q3,TXG,Q3,125297000.0,-0.15,110874249.0,-17171000.0
4,2021Q2,TXG,Q2,115842000.0,-0.1,109866294.0,-11052000.0
...,...,...,...,...,...,...,...
25806,2013Q1,ZYXI,Q1,7668000.0,-0.009091,34263057.0,-304000.0
25807,2012Q4,ZYXI,Q4,10594000.0,0.012,34263057.0,402000.0
25808,2012Q3,ZYXI,Q3,10102000.0,0.009091,34243998.0,358000.0
25809,2012Q2,ZYXI,Q2,10026000.0,0.01383,34201090.0,473000.0
25810,2012Q1,ZYXI,Q1,8944000.0,0.009091,33969947.0,320000.0

In [46]:
# reading in data
income = pd.read_csv("income_statement_raw.csv")
income

,Unnamed: 0,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,revenue,costOfRevenue,grossProfit,...,incomeTaxExpense,netIncome,netIncomeRatio,eps,epsdiluted,weightedAverageShsOut,weightedAverageShsOutDil,link,finalLink,Ticker
0,2022-03,USD,1770787.0,2022-05-05,2022-05-05 16:06:22,2022,Q1,114496000.0,25478000.0,89018000.0,...,719000.0,-42413000.0,-0.370432,-0.380000,-0.380000,111896429.0,111896429.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
1,2021-12,USD,1770787.0,2022-02-18,2022-02-16,2021,Q4,143530000.0,27598000.0,115932000.0,...,2456000.0,-18449000.0,-0.128538,-0.160000,-0.160000,111896429.0,111896429.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
2,2021-09,USD,1770787.0,2021-11-05,2021-11-05 16:06:24,2021,Q3,125297000.0,24518000.0,100779000.0,...,523000.0,-17171000.0,-0.137042,-0.150000,-0.150000,110874249.0,110874249.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
3,2021-06,USD,1770787.0,2021-08-06,2021-08-06 16:05:41,2021,Q2,115842000.0,4915000.0,110927000.0,...,1094000.0,-11052000.0,-0.095406,-0.100000,-0.100000,109866294.0,109866294.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
4,2021-03,USD,1770787.0,2021-05-07,2021-05-07 16:07:16,2021,Q1,105821000.0,17060000.0,88761000.0,...,435000.0,-11551000.0,-0.109156,-0.110000,-0.110000,108714027.0,108714027.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25471,1999-03,USD,846475.0,1999-03-31,1999-03-31,1999,Q1,0.0,0.0,0.0,...,0.0,-92.0,0.000000,-0.000003,-0.000003,35499200.0,37024900.0,NaN,NaN,ZYXI
25472,1998-12,USD,846475.0,1998-12-31,1998-12-31,1998,Q4,0.0,0.0,0.0,...,0.0,-91.0,0.000000,-0.000003,-0.000002,35499200.0,37024900.0,NaN,NaN,ZYXI
25473,1998-09,USD,846475.0,1998-09-30,1998-09-30,1998,Q3,3259.0,1629.0,1630.0,...,0.0,-14457.0,-4.436023,-0.000407,-0.000407,35499200.0,37024900.0,NaN,NaN,ZYXI
25474,1998-06,USD,846475.0,1998-06-30,1998-06-30,1998,Q2,4455.0,2228.0,2227.0,...,0.0,-1082.0,-0.242873,-0.000030,-0.000030,35499200.0,37024900.0,NaN,NaN,ZYXI
25475,1998-03,USD,846475.0,1998-03-31,1998-03-31,1998,Q1,4702.0,2350.0,2352.0,...,0.0,-1211.0,-0.257550,-0.000034,-0.000034,35499200.0,37024900.0,NaN,NaN,ZYXI

In [53]:
#income.reset_index(inplace=True)                                                                                            
income = income.rename(columns = {'Unnamed: 0':'date'})                                                                        
income = income.convert_dtypes()                                                                                       
income['date'] = pd.to_datetime(income['date'])                                                                      
income['date'] = income['date'] - DateOffset(days=1)                                                               # getting last date of previos month to match pandas method of couunting quarterly
income["Quarter"] = income['date'].dt.to_period('Q')                                                                          

# getting certain columns
nincome = income.loc[:,['Quarter','Ticker','period','revenue', 'eps','weightedAverageShsOut', 'netIncome']]        # getting certain columns to calculate daily ratios
nincome = nincome[nincome['Quarter'] > "2011Q4"]                                                                             
nincome

,Quarter,Ticker,period,revenue,eps,weightedAverageShsOut,netIncome
0,2022Q1,TXG,Q1,114496000.0,-0.38,111896429.0,-42413000.0
1,2021Q4,TXG,Q4,143530000.0,-0.16,111896429.0,-18449000.0
2,2021Q3,TXG,Q3,125297000.0,-0.15,110874249.0,-17171000.0
3,2021Q2,TXG,Q2,115842000.0,-0.1,109866294.0,-11052000.0
4,2021Q1,TXG,Q1,105821000.0,-0.11,108714027.0,-11551000.0
...,...,...,...,...,...,...,...
25416,2013Q1,ZYXI,Q1,7668000.0,-0.009091,34263057.0,-304000.0
25417,2012Q4,ZYXI,Q4,10594000.0,0.012,34263057.0,402000.0
25418,2012Q3,ZYXI,Q3,10102000.0,0.009091,34243998.0,358000.0
25419,2012Q2,ZYXI,Q2,10026000.0,0.01383,34201090.0,473000.0
25420,2012Q1,ZYXI,Q1,8944000.0,0.009091,33969947.0,320000.0

In [6]:
# importing balance sheet
balancesheet = pd.DataFrame()   

for ticker in comps:                                                                                                    
    balance_sheet_quarterly = fa.balance_sheet_statement(ticker, api_key, period="quarter")                               
    balance_sheet_quarterly = balance_sheet_quarterly.T
    balance_sheet_quarterly['Ticker'] = ticker
    balancesheet=balancesheet.append(balance_sheet_quarterly)

,Quarter,Ticker,period,shortTermInvestments,cashAndShortTermInvestments,netReceivables,inventory,totalCurrentAssets,totalAssets,totalCurrentLiabilities,totalLiabilities,totalStockholdersEquity,totalEquity
0,2022Q2,TXG,Q2,225546000.0,499733000.0,76204000.0,70646000.0,666232000.0,1001591000.0,117908000.0,218075000.0,783516000.0,783516000.0
1,2022Q1,TXG,Q1,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0
2,2021Q4,TXG,Q4,0.0,587447000.0,85254000.0,59966000.0,747591000.0,1018826000.0,110357000.0,201258000.0,817568000.0,817568000.0
3,2021Q3,TXG,Q3,0.0,600440000.0,78430000.0,51141000.0,744104000.0,990572000.0,100375000.0,190351000.0,800221000.0,800221000.0
4,2021Q2,TXG,Q2,0.0,621958000.0,59680000.0,44087000.0,757174000.0,977579000.0,113126000.0,192993000.0,784586000.0,784586000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23434,2013Q1,ZYXI,Q1,0.0,681000.0,11234000.0,6324000.0,20578000.0,24791000.0,11300000.0,13010000.0,11782000.0,11781000.0
23435,2012Q4,ZYXI,Q4,0.0,823000.0,12224000.0,6160000.0,21362000.0,25936000.0,12093000.0,13881000.0,12050000.0,12055000.0
23436,2012Q3,ZYXI,Q3,0.0,843000.0,12252000.0,6731000.0,21531000.0,26193000.0,12852000.0,14564000.0,11629000.0,11629000.0
23437,2012Q2,ZYXI,Q2,0.0,623000.0,12143000.0,6554000.0,21035000.0,25494000.0,12495000.0,14303000.0,11191000.0,11191000.0
23438,2012Q1,ZYXI,Q1,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0

In [43]:
# reading in data
balancesheet = pd.read_csv("balance_sheet_raw.csv")
balancesheet

,Unnamed: 0,reportedCurrency,cik,fillingDate,acceptedDate,calendarYear,period,cashAndCashEquivalents,shortTermInvestments,cashAndShortTermInvestments,...,totalLiabilitiesAndStockholdersEquity,minorityInterest,totalEquity,totalLiabilitiesAndTotalEquity,totalInvestments,totalDebt,netDebt,link,finalLink,Ticker
0,2022-03,USD,1770787.0,2022-05-05,2022-05-05 16:06:22,2022,Q1,312487000.0,226836000.0,539323000.0,...,1.003251e+09,0.0,806685000.0,1.003251e+09,0.0,101175000.0,-211312000.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
1,2021-12,USD,1770787.0,2022-02-18,2022-02-16,2021,Q4,587447000.0,0.0,587447000.0,...,1.018826e+09,0.0,817568000.0,1.018826e+09,0.0,81978000.0,-505469000.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
2,2021-09,USD,1770787.0,2021-11-05,2021-11-05 16:06:24,2021,Q3,600440000.0,0.0,600440000.0,...,9.905720e+08,0.0,800221000.0,9.905720e+08,0.0,80199000.0,-520241000.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
3,2021-06,USD,1770787.0,2021-08-06,2021-08-06 16:05:41,2021,Q2,621958000.0,0.0,621958000.0,...,9.775790e+08,0.0,784586000.0,9.775790e+08,0.0,70822000.0,-551136000.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
4,2021-03,USD,1770787.0,2021-05-07,2021-05-07 16:07:16,2021,Q1,617195000.0,0.0,617195000.0,...,9.540330e+08,0.0,752460000.0,9.540330e+08,0.0,72500000.0,-544695000.0,https://www.sec.gov/Archives/edgar/data/177078...,https://www.sec.gov/Archives/edgar/data/177078...,TXG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23100,1999-12,USD,846475.0,1999-12-31,1999-12-31,1999,Q4,0.0,0.0,0.0,...,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0,0.0,NaN,NaN,ZYXI
23101,1999-09,USD,846475.0,1999-09-30,1999-09-30,1999,Q3,0.0,0.0,0.0,...,0.000000e+00,0.0,25280.0,0.000000e+00,0.0,0.0,0.0,NaN,NaN,ZYXI
23102,1999-06,USD,846475.0,1999-06-30,1999-06-30,1999,Q2,0.0,0.0,0.0,...,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.0,0.0,NaN,NaN,ZYXI
23103,1999-03,USD,846475.0,1999-03-31,1999-03-31,1999,Q1,0.0,0.0,0.0,...,0.000000e+00,30.0,30.0,3.000000e+01,0.0,0.0,0.0,NaN,NaN,ZYXI
23104,1998-12,USD,846475.0,1998-12-31,1998-12-31,1998,Q4,0.0,0.0,0.0,...,0.000000e+00,122.0,122.0,1.220000e+02,0.0,0.0,0.0,NaN,NaN,ZYXI

In [54]:
#balancesheet.reset_index(inplace=True)                                                                                     
balancesheet = balancesheet.rename(columns = {'Unnamed: 0':'date'})                                                            
balancesheet=balancesheet.convert_dtypes()                                                                           
balancesheet['date'] = pd.to_datetime(balancesheet['date'])                                                                
balancesheet['date']=balancesheet['date'] - DateOffset(days=1)                                                              
balancesheet["Quarter"]=balancesheet['date'].dt.to_period('Q')                                        

# getting certain columns
nbalancesheet = balancesheet.loc[:,['Quarter','Ticker','period','shortTermInvestments',
                                      'cashAndShortTermInvestments','netReceivables','inventory',
                                      'totalCurrentAssets','totalAssets','totalCurrentLiabilities',
                                      'totalLiabilities','totalStockholdersEquity','totalEquity']]

nbalancesheet= nbalancesheet[nbalancesheet['Quarter'] > "2011Q4"] 
nbalancesheet

,Quarter,Ticker,period,shortTermInvestments,cashAndShortTermInvestments,netReceivables,inventory,totalCurrentAssets,totalAssets,totalCurrentLiabilities,totalLiabilities,totalStockholdersEquity,totalEquity
0,2022Q1,TXG,Q1,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0
1,2021Q4,TXG,Q4,0.0,587447000.0,85254000.0,59966000.0,747591000.0,1018826000.0,110357000.0,201258000.0,817568000.0,817568000.0
2,2021Q3,TXG,Q3,0.0,600440000.0,78430000.0,51141000.0,744104000.0,990572000.0,100375000.0,190351000.0,800221000.0,800221000.0
3,2021Q2,TXG,Q2,0.0,621958000.0,59680000.0,44087000.0,757174000.0,977579000.0,113126000.0,192993000.0,784586000.0,784586000.0
4,2021Q1,TXG,Q1,0.0,617195000.0,57408000.0,38507000.0,745716000.0,954033000.0,120549000.0,201573000.0,752460000.0,752460000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23048,2013Q1,ZYXI,Q1,0.0,681000.0,11234000.0,6324000.0,20578000.0,24791000.0,11300000.0,13010000.0,11782000.0,11781000.0
23049,2012Q4,ZYXI,Q4,0.0,823000.0,12224000.0,6160000.0,21362000.0,25936000.0,12093000.0,13881000.0,12050000.0,12055000.0
23050,2012Q3,ZYXI,Q3,0.0,843000.0,12252000.0,6731000.0,21531000.0,26193000.0,12852000.0,14564000.0,11629000.0,11629000.0
23051,2012Q2,ZYXI,Q2,0.0,623000.0,12143000.0,6554000.0,21035000.0,25494000.0,12495000.0,14303000.0,11191000.0,11191000.0
23052,2012Q1,ZYXI,Q1,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0

##### 3-4) Combining Dataframes Imported from API

In [82]:
# merging daliy stock info df with quarterly ratios 
# daliy stock info + quarterly ratios
# left merge: use only keys from left frame, 'nratios' is merged based on the left frame & the common keys ('Quarter' & 'Ticker') 
s = stocks.merge(nratios, how='left')    
s

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,...,priceCashFlowRatio,grossProfitMargin,operatingProfitMargin,pretaxProfitMargin,netProfitMargin,returnOnEquity,currentRatio,quickRatio,cashRatio,debtEquityRatio
0,2022-03-30,76.28,79.57,74.45,74.74,74.74,1108557,1108557,-1.54,-2.019,...,<NA>,0.777477,-0.364511,-0.364152,-0.370432,-0.052577,7.383425,6.520647,3.308631,0.243671
1,2022-03-29,71.99,77.36,71.99,77.25,77.25,1139688,1139688,5.26,7.307,...,<NA>,0.777477,-0.364511,-0.364152,-0.370432,-0.052577,7.383425,6.520647,3.308631,0.243671
2,2022-03-28,67.99,71.7,67.58,70.41,70.41,584848,584848,2.42,3.559,...,<NA>,0.777477,-0.364511,-0.364152,-0.370432,-0.052577,7.383425,6.520647,3.308631,0.243671
3,2022-03-25,69.6,70.11,65.89,67.79,67.79,790146,790146,-1.81,-2.601,...,<NA>,0.777477,-0.364511,-0.364152,-0.370432,-0.052577,7.383425,6.520647,3.308631,0.243671
4,2022-03-24,68.45,69.09,65.01,68.99,68.99,567907,567907,0.54,0.789,...,<NA>,0.777477,-0.364511,-0.364152,-0.370432,-0.052577,7.383425,6.520647,3.308631,0.243671
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718373,2012-01-09,0.563636,0.627273,0.563636,0.627273,0.31348,5390,5390,0.07,22.921,...,-32.084968,0.797294,0.054338,0.04394,0.035778,0.030008,1.736001,1.0938,0.065536,1.24006
718374,2012-01-06,0.563636,0.672727,0.563636,0.672727,0.336196,8360,8360,0.12,42.463,...,-32.084968,0.797294,0.054338,0.04394,0.035778,0.030008,1.736001,1.0938,0.065536,1.24006
718375,2012-01-05,0.636364,0.663636,0.636364,0.663636,0.331652,4070,4070,0.03,8.17,...,-32.084968,0.797294,0.054338,0.04394,0.035778,0.030008,1.736001,1.0938,0.065536,1.24006
718376,2012-01-04,0.645455,0.645455,0.645455,0.645455,0.322566,1100,1100,0.0,0.0,...,-32.084968,0.797294,0.054338,0.04394,0.035778,0.030008,1.736001,1.0938,0.065536,1.24006
718377,2012-01-03,0.636364,0.636364,0.636364,0.636364,0.318023,880,880,0.0,0.0,...,-32.084968,0.797294,0.054338,0.04394,0.035778,0.030008,1.736001,1.0938,0.065536,1.24006

In [83]:
s.dtypes

date                              datetime64[ns]
open                                     Float64
high                                     Float64
low                                      Float64
close                                    Float64
adjClose                                 Float64
volume                                     Int64
unadjustedVolume                           Int64
change                                   Float64
changePercent                            Float64
vwap                                     Float64
changeOverTime                           Float64
Ticker                                    string
Quarter                            period[Q-DEC]
period                                    string
priceToBookRatio                         Float64
priceToSalesRatio                        Float64
priceEarningsRatio                       Float64
priceToFreeCashFlowsRatio                Float64
priceToOperatingCashFlowsRatio           Float64
priceCashFlowRatio                       Float64
grossProfitMargin                        Float64
operatingProfitMargin                    Float64
pretaxProfitMargin                       Float64
netProfitMargin                          Float64
returnOnEquity                           Float64
currentRatio                             Float64
quickRatio                               Float64
cashRatio                                Float64
debtEquityRatio                          Float64
dtype: object

In [84]:
# merging daliy stock price and quarterly ratios df with income statemant
# daliy stock info + quarterly ratios + income statement
# left merge: use only keys from left frame, 'nincome' is merged based on the left frame & the common keys ('Quarter' & 'Ticker') 
final_df = s.merge(nincome, how='left') 
final_df

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,...,netProfitMargin,returnOnEquity,currentRatio,quickRatio,cashRatio,debtEquityRatio,revenue,eps,weightedAverageShsOut,netIncome
0,2022-03-30,76.28,79.57,74.45,74.74,74.74,1108557,1108557,-1.54,-2.019,...,-0.370432,-0.052577,7.383425,6.520647,3.308631,0.243671,114496000.0,-0.38,111896429.0,-42413000.0
1,2022-03-29,71.99,77.36,71.99,77.25,77.25,1139688,1139688,5.26,7.307,...,-0.370432,-0.052577,7.383425,6.520647,3.308631,0.243671,114496000.0,-0.38,111896429.0,-42413000.0
2,2022-03-28,67.99,71.7,67.58,70.41,70.41,584848,584848,2.42,3.559,...,-0.370432,-0.052577,7.383425,6.520647,3.308631,0.243671,114496000.0,-0.38,111896429.0,-42413000.0
3,2022-03-25,69.6,70.11,65.89,67.79,67.79,790146,790146,-1.81,-2.601,...,-0.370432,-0.052577,7.383425,6.520647,3.308631,0.243671,114496000.0,-0.38,111896429.0,-42413000.0
4,2022-03-24,68.45,69.09,65.01,68.99,68.99,567907,567907,0.54,0.789,...,-0.370432,-0.052577,7.383425,6.520647,3.308631,0.243671,114496000.0,-0.38,111896429.0,-42413000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718373,2012-01-09,0.563636,0.627273,0.563636,0.627273,0.31348,5390,5390,0.07,22.921,...,0.035778,0.030008,1.736001,1.0938,0.065536,1.24006,8944000.0,0.009091,33969947.0,320000.0
718374,2012-01-06,0.563636,0.672727,0.563636,0.672727,0.336196,8360,8360,0.12,42.463,...,0.035778,0.030008,1.736001,1.0938,0.065536,1.24006,8944000.0,0.009091,33969947.0,320000.0
718375,2012-01-05,0.636364,0.663636,0.636364,0.663636,0.331652,4070,4070,0.03,8.17,...,0.035778,0.030008,1.736001,1.0938,0.065536,1.24006,8944000.0,0.009091,33969947.0,320000.0
718376,2012-01-04,0.645455,0.645455,0.645455,0.645455,0.322566,1100,1100,0.0,0.0,...,0.035778,0.030008,1.736001,1.0938,0.065536,1.24006,8944000.0,0.009091,33969947.0,320000.0
718377,2012-01-03,0.636364,0.636364,0.636364,0.636364,0.318023,880,880,0.0,0.0,...,0.035778,0.030008,1.736001,1.0938,0.065536,1.24006,8944000.0,0.009091,33969947.0,320000.0

In [81]:
final_df.dtypes

date                              datetime64[ns]
open                                     Float64
high                                     Float64
low                                      Float64
close                                    Float64
adjClose                                 Float64
volume                                     Int64
unadjustedVolume                           Int64
change                                   Float64
changePercent                            Float64
vwap                                     Float64
changeOverTime                           Float64
Ticker                                    string
Quarter                            period[Q-DEC]
period                                    string
priceToBookRatio                         Float64
priceToSalesRatio                        Float64
priceEarningsRatio                       Float64
priceToFreeCashFlowsRatio                Float64
priceToOperatingCashFlowsRatio           Float64
priceCashFlowRatio                       Float64
grossProfitMargin                        Float64
operatingProfitMargin                    Float64
pretaxProfitMargin                       Float64
netProfitMargin                          Float64
returnOnEquity                           Float64
currentRatio                             Float64
quickRatio                               Float64
cashRatio                                Float64
debtEquityRatio                          Float64
revenue                                  Float64
eps                                      Float64
weightedAverageShsOut                    Float64
netIncome                                Float64
shortTermInvestments                     Float64
cashAndShortTermInvestments              Float64
netReceivables                           Float64
inventory                                Float64
totalCurrentAssets                       Float64
totalAssets                              Float64
totalCurrentLiabilities                  Float64
totalLiabilities                         Float64
totalStockholdersEquity                  Float64
totalEquity                              Float64
operatingCashFlow                        Float64
Annual EPS Growth                        float64
PEG Ratio                                Float64
dtype: object

In [85]:
# getting certain columns
final_df = final_df[['date', 'Ticker', 'Quarter', 'adjClose','period','revenue', 'eps','weightedAverageShsOut','netIncome']]                                                                              # To get important quarterly columns to calculate daily ratios
final_df

,date,Ticker,Quarter,adjClose,period,revenue,eps,weightedAverageShsOut,netIncome
0,2022-03-30,TXG,2022Q1,74.74,Q1,114496000.0,-0.38,111896429.0,-42413000.0
1,2022-03-29,TXG,2022Q1,77.25,Q1,114496000.0,-0.38,111896429.0,-42413000.0
2,2022-03-28,TXG,2022Q1,70.41,Q1,114496000.0,-0.38,111896429.0,-42413000.0
3,2022-03-25,TXG,2022Q1,67.79,Q1,114496000.0,-0.38,111896429.0,-42413000.0
4,2022-03-24,TXG,2022Q1,68.99,Q1,114496000.0,-0.38,111896429.0,-42413000.0
...,...,...,...,...,...,...,...,...,...
718373,2012-01-09,ZYXI,2012Q1,0.31348,Q1,8944000.0,0.009091,33969947.0,320000.0
718374,2012-01-06,ZYXI,2012Q1,0.336196,Q1,8944000.0,0.009091,33969947.0,320000.0
718375,2012-01-05,ZYXI,2012Q1,0.331652,Q1,8944000.0,0.009091,33969947.0,320000.0
718376,2012-01-04,ZYXI,2012Q1,0.322566,Q1,8944000.0,0.009091,33969947.0,320000.0
718377,2012-01-03,ZYXI,2012Q1,0.318023,Q1,8944000.0,0.009091,33969947.0,320000.0

In [88]:
# merging balace sheet df
# certain columns + balance sheet
# left merge: use only keys from left frame, 'nbalancesheet' is merged based on the left frame & the common keys ('Quarter' & 'Ticker') 
final_df = final_df.merge(nbalancesheet, how='left')                        
final_df

,date,Ticker,Quarter,adjClose,period,revenue,eps,weightedAverageShsOut,netIncome,shortTermInvestments,cashAndShortTermInvestments,netReceivables,inventory,totalCurrentAssets,totalAssets,totalCurrentLiabilities,totalLiabilities,totalStockholdersEquity,totalEquity
0,2022-03-30,TXG,2022Q1,74.74,Q1,114496000.0,-0.38,111896429.0,-42413000.0,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0
1,2022-03-29,TXG,2022Q1,77.25,Q1,114496000.0,-0.38,111896429.0,-42413000.0,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0
2,2022-03-28,TXG,2022Q1,70.41,Q1,114496000.0,-0.38,111896429.0,-42413000.0,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0
3,2022-03-25,TXG,2022Q1,67.79,Q1,114496000.0,-0.38,111896429.0,-42413000.0,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0
4,2022-03-24,TXG,2022Q1,68.99,Q1,114496000.0,-0.38,111896429.0,-42413000.0,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718373,2012-01-09,ZYXI,2012Q1,0.31348,Q1,8944000.0,0.009091,33969947.0,320000.0,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0
718374,2012-01-06,ZYXI,2012Q1,0.336196,Q1,8944000.0,0.009091,33969947.0,320000.0,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0
718375,2012-01-05,ZYXI,2012Q1,0.331652,Q1,8944000.0,0.009091,33969947.0,320000.0,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0
718376,2012-01-04,ZYXI,2012Q1,0.322566,Q1,8944000.0,0.009091,33969947.0,320000.0,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0
718377,2012-01-03,ZYXI,2012Q1,0.318023,Q1,8944000.0,0.009091,33969947.0,320000.0,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0

In [89]:
final_df.dtypes

date                           datetime64[ns]
Ticker                                 string
Quarter                         period[Q-DEC]
adjClose                              Float64
period                                 string
revenue                               Float64
eps                                   Float64
weightedAverageShsOut                 Float64
netIncome                             Float64
shortTermInvestments                  Float64
cashAndShortTermInvestments           Float64
netReceivables                        Float64
inventory                             Float64
totalCurrentAssets                    Float64
totalAssets                           Float64
totalCurrentLiabilities               Float64
totalLiabilities                      Float64
totalStockholdersEquity               Float64
totalEquity                           Float64
dtype: object

In [90]:
# merging statement of cashflow df
# certain columns + balace sheet + statement of cashflow
# left merge: use only keys from left frame, 'ncashflow' is merged based on the left frame & the common keys ('Quarter' & 'Ticker') 
final_df = final_df.merge(ncashflow, how='left')                                  
final_df

,date,Ticker,Quarter,adjClose,period,revenue,eps,weightedAverageShsOut,netIncome,shortTermInvestments,cashAndShortTermInvestments,netReceivables,inventory,totalCurrentAssets,totalAssets,totalCurrentLiabilities,totalLiabilities,totalStockholdersEquity,totalEquity,operatingCashFlow
0,2022-03-30,TXG,2022Q1,74.74,Q1,114496000.0,-0.38,111896429.0,-42413000.0,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0
1,2022-03-29,TXG,2022Q1,77.25,Q1,114496000.0,-0.38,111896429.0,-42413000.0,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0
2,2022-03-28,TXG,2022Q1,70.41,Q1,114496000.0,-0.38,111896429.0,-42413000.0,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0
3,2022-03-25,TXG,2022Q1,67.79,Q1,114496000.0,-0.38,111896429.0,-42413000.0,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0
4,2022-03-24,TXG,2022Q1,68.99,Q1,114496000.0,-0.38,111896429.0,-42413000.0,226836000.0,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718498,2012-01-09,ZYXI,2012Q1,0.31348,Q1,8944000.0,0.009091,33969947.0,320000.0,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0
718499,2012-01-06,ZYXI,2012Q1,0.336196,Q1,8944000.0,0.009091,33969947.0,320000.0,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0
718500,2012-01-05,ZYXI,2012Q1,0.331652,Q1,8944000.0,0.009091,33969947.0,320000.0,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0
718501,2012-01-04,ZYXI,2012Q1,0.322566,Q1,8944000.0,0.009091,33969947.0,320000.0,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0
718502,2012-01-03,ZYXI,2012Q1,0.318023,Q1,8944000.0,0.009091,33969947.0,320000.0,0.0,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0

In [91]:
final_df.dtypes

date                           datetime64[ns]
Ticker                                 string
Quarter                         period[Q-DEC]
adjClose                              Float64
period                                 string
revenue                               Float64
eps                                   Float64
weightedAverageShsOut                 Float64
netIncome                             Float64
shortTermInvestments                  Float64
cashAndShortTermInvestments           Float64
netReceivables                        Float64
inventory                             Float64
totalCurrentAssets                    Float64
totalAssets                           Float64
totalCurrentLiabilities               Float64
totalLiabilities                      Float64
totalStockholdersEquity               Float64
totalEquity                           Float64
operatingCashFlow                     Float64
dtype: object

### 4. Data Cleaning & Creating the dependent variable 'y' for modeling
- Data cleaning: There were null values in the imported data combined. The null vaules were dropped???
- y: Percent change of the daily prices (% of (Today's price - Yesterdays'))

In [92]:
final_df.dtypes

date                           datetime64[ns]
Ticker                                 string
Quarter                         period[Q-DEC]
adjClose                              Float64
period                                 string
revenue                               Float64
eps                                   Float64
weightedAverageShsOut                 Float64
netIncome                             Float64
shortTermInvestments                  Float64
cashAndShortTermInvestments           Float64
netReceivables                        Float64
inventory                             Float64
totalCurrentAssets                    Float64
totalAssets                           Float64
totalCurrentLiabilities               Float64
totalLiabilities                      Float64
totalStockholdersEquity               Float64
totalEquity                           Float64
operatingCashFlow                     Float64
dtype: object

In [93]:
new_withnull = final_df[['date','Quarter','Ticker','adjClose']]
new_withnull = new_withnull.sort_values('date')
new_withnull

             date Quarter Ticker   adjClose
718502 2012-01-03  2012Q1   ZYXI   0.318023
261132 2012-01-03  2012Q1    LLY  31.492632
683695 2012-01-03  2012Q1   VNDA       4.72
258554 2012-01-03  2012Q1   ELMD       3.61
252475 2012-01-03  2012Q1     EW       12.0
...           ...     ...    ...        ...
290075 2022-03-30  2022Q1   FLGT      62.61
510370 2022-03-30  2022Q1     OM      44.18
291460 2022-03-30  2022Q1   GILD      59.66
523713 2022-03-30  2022Q1   PRGO      38.14
0      2022-03-30  2022Q1    TXG      74.74

[718503 rows x 4 columns]

In [94]:
# getting 'y' price percent change
# price % change = % of (yesterday's adjClose - tpday's adjClose)

groups = new_withnull.groupby(['Ticker'])
new_withnull['pct_chg'] = groups['adjClose'].pct_change()
new_withnull


# comments:
# null values for date 2012-01-03 because we need previous day's stock price info to calculate 'pct_chg'
# data dated from 2012 so there was no stock price info from 2011

             date Quarter Ticker   adjClose   pct_chg
718502 2012-01-03  2012Q1   ZYXI   0.318023      <NA>
261132 2012-01-03  2012Q1    LLY  31.492632      <NA>
683695 2012-01-03  2012Q1   VNDA       4.72      <NA>
258554 2012-01-03  2012Q1   ELMD       3.61      <NA>
252475 2012-01-03  2012Q1     EW       12.0      <NA>
...           ...     ...    ...        ...       ...
290075 2022-03-30  2022Q1   FLGT      62.61 -0.037362
510370 2022-03-30  2022Q1     OM      44.18  0.003635
291460 2022-03-30  2022Q1   GILD      59.66 -0.014373
523713 2022-03-30  2022Q1   PRGO      38.14 -0.004957
0      2022-03-30  2022Q1    TXG      74.74 -0.032492

[718503 rows x 5 columns]

In [11]:
new_withnull

             date Quarter Ticker    adjClose   pct_chg
763125 2012-01-03  2012Q1   ZYXI    0.342424      <NA>
663793 2012-01-03  2012Q1   SRGA  123.900002      <NA>
296452 2012-01-03  2012Q1   EXEL        4.66      <NA>
668214 2012-01-03  2012Q1   SRDX   14.520001      <NA>
27491  2012-01-03  2012Q1   ADUS        3.72      <NA>
...           ...     ...    ...         ...       ...
753882 2022-08-26  2022Q3  XOMAO        25.4  0.001498
489409 2022-08-26  2022Q3   MYOV       16.83 -0.023215
248953 2022-08-26  2022Q3   XRAY       33.61 -0.033084
95388  2022-08-26  2022Q3   ARVN       44.22 -0.052699
0      2022-08-26  2022Q3    TXG       34.89 -0.097983

[763126 rows x 5 columns]

In [12]:
# svaing a dataframe in the csv file

new_withnull.to_csv('backtesting_jul20.csv')

# =============================================================
# =============================================================

In [95]:
# cheking null values
final_df.isnull().sum()

date                              0
Ticker                            0
Quarter                           0
adjClose                          0
period                         9268
revenue                        9329
eps                            9329
weightedAverageShsOut          9329
netIncome                      9329
shortTermInvestments           9392
cashAndShortTermInvestments    9392
netReceivables                 9392
inventory                      9392
totalCurrentAssets             9392
totalAssets                    9392
totalCurrentLiabilities        9392
totalLiabilities               9392
totalStockholdersEquity        9392
totalEquity                    9392
operatingCashFlow              9835
dtype: int64

In [16]:
# cheking null values
# s == stock + ratios info
s.isnull().sum()

date                                   0
open                                   0
high                                   0
low                                    0
close                                  0
adjClose                               0
volume                              6256
unadjustedVolume                    6256
change                                 0
changePercent                          0
vwap                                3484
changeOverTime                         0
Ticker                                 0
Quarter                                0
period                             28582
priceToBookRatio                   29392
priceToSalesRatio                 116676
priceEarningsRatio                 30938
priceToFreeCashFlowsRatio          30988
priceToOperatingCashFlowsRatio     31927
priceCashFlowRatio                 31927
grossProfitMargin                 115866
operatingProfitMargin             115866
pretaxProfitMargin                115866
netProfitMargin                   115866
returnOnEquity                     28582
currentRatio                       29708
quickRatio                         29708
cashRatio                          29708
debtEquityRatio                    28582
dtype: int64

In [18]:
# s == stock + ratios info
s.dtypes

date                              datetime64[ns]
open                                     Float64
high                                     Float64
low                                      Float64
close                                    Float64
adjClose                                 Float64
volume                                     Int64
unadjustedVolume                           Int64
change                                   Float64
changePercent                            Float64
vwap                                     Float64
changeOverTime                           Float64
Ticker                                    string
Quarter                            period[Q-DEC]
period                                    string
priceToBookRatio                         Float64
priceToSalesRatio                        Float64
priceEarningsRatio                       Float64
priceToFreeCashFlowsRatio                Float64
priceToOperatingCashFlowsRatio           Float64
priceCashFlowRatio                       Float64
grossProfitMargin                        Float64
operatingProfitMargin                    Float64
pretaxProfitMargin                       Float64
netProfitMargin                          Float64
returnOnEquity                           Float64
currentRatio                             Float64
quickRatio                               Float64
cashRatio                                Float64
debtEquityRatio                          Float64
dtype: object

In [68]:
final_df.dtypes

date                           datetime64[ns]
Ticker                                 string
Quarter                         period[Q-DEC]
adjClose                              Float64
period                                 string
revenue                               Float64
eps                                   Float64
weightedAverageShsOut                 Float64
netIncome                             Float64
shortTermInvestments                  Float64
cashAndShortTermInvestments           Float64
netReceivables                        Float64
inventory                             Float64
totalCurrentAssets                    Float64
totalAssets                           Float64
totalCurrentLiabilities               Float64
totalLiabilities                      Float64
totalStockholdersEquity               Float64
totalEquity                           Float64
operatingCashFlow                     Float64
dtype: object

In [ ]:
# def dailyratios():
  
#   final_df['MrktCap'] = final_df['adjClose'] * final_df['weightedAverageShsOut']                  # Market Capitalization = Current Market Price per share~Stock price * Total Number of Outstanding Shares
#   final_df['P/S'] = final_df['MrktCap'] / final_df['revenue']                                     # Price per sales ratio = Market Capitalization / Sales~revenue
#   final_df['P/E'] = final_df['adjClose'] / final_df['eps']                                        # Price to Earning ratio = Stock Price / EPS
#   final_df['BV'] = final_df['totalAssets'] - final_df['totalLiabilities']                         # Book Value (BV) = Total assets - Total liabilities
#   final_df['P/B'] = final_df['MrktCap'] / final_df['BV']                                          # Price to Book ratio = Market Capitalization / Book Value
#   final_df['CF/Share'] = final_df['operatingCashFlow'] / final_df['weightedAverageShsOut']        # Cash Flow per Share = Operating Cash Flow (SCF) / Outstanding Shares
#   final_df['P/CF'] = final_df['adjClose'] / final_df['CF/Share']                                  # Price to Cash Flow ratio = Stock Price / Cash Flow per Share

# dailyratios()                                                                                     # Call daliy ratios function

In [97]:
# mering data 
# combnining again with rations info
final_df = s.merge(final_df,how='left')
final_df

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,...,cashAndShortTermInvestments,netReceivables,inventory,totalCurrentAssets,totalAssets,totalCurrentLiabilities,totalLiabilities,totalStockholdersEquity,totalEquity,operatingCashFlow
0,2022-03-30,76.28,79.57,74.45,74.74,74.74,1108557,1108557,-1.54,-2.019,...,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0
1,2022-03-29,71.99,77.36,71.99,77.25,77.25,1139688,1139688,5.26,7.307,...,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0
2,2022-03-28,67.99,71.7,67.58,70.41,70.41,584848,584848,2.42,3.559,...,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0
3,2022-03-25,69.6,70.11,65.89,67.79,67.79,790146,790146,-1.81,-2.601,...,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0
4,2022-03-24,68.45,69.09,65.01,68.99,68.99,567907,567907,0.54,0.789,...,539323000.0,76526000.0,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718498,2012-01-09,0.563636,0.627273,0.563636,0.627273,0.31348,5390,5390,0.07,22.921,...,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0
718499,2012-01-06,0.563636,0.672727,0.563636,0.672727,0.336196,8360,8360,0.12,42.463,...,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0
718500,2012-01-05,0.636364,0.663636,0.636364,0.663636,0.331652,4070,4070,0.03,8.17,...,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0
718501,2012-01-04,0.645455,0.645455,0.645455,0.645455,0.322566,1100,1100,0.0,0.0,...,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0
718502,2012-01-03,0.636364,0.636364,0.636364,0.636364,0.318023,880,880,0.0,0.0,...,742000.0,11642000.0,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0

In [71]:
final_df.dtypes

date                              datetime64[ns]
open                                     Float64
high                                     Float64
low                                      Float64
close                                    Float64
adjClose                                 Float64
volume                                     Int64
unadjustedVolume                           Int64
change                                   Float64
changePercent                            Float64
vwap                                     Float64
changeOverTime                           Float64
Ticker                                    string
Quarter                            period[Q-DEC]
period                                    string
priceToBookRatio                         Float64
priceToSalesRatio                        Float64
priceEarningsRatio                       Float64
priceToFreeCashFlowsRatio                Float64
priceToOperatingCashFlowsRatio           Float64
priceCashFlowRatio                       Float64
grossProfitMargin                        Float64
operatingProfitMargin                    Float64
pretaxProfitMargin                       Float64
netProfitMargin                          Float64
returnOnEquity                           Float64
currentRatio                             Float64
quickRatio                               Float64
cashRatio                                Float64
debtEquityRatio                          Float64
revenue                                  Float64
eps                                      Float64
weightedAverageShsOut                    Float64
netIncome                                Float64
shortTermInvestments                     Float64
cashAndShortTermInvestments              Float64
netReceivables                           Float64
inventory                                Float64
totalCurrentAssets                       Float64
totalAssets                              Float64
totalCurrentLiabilities                  Float64
totalLiabilities                         Float64
totalStockholdersEquity                  Float64
totalEquity                              Float64
operatingCashFlow                        Float64
dtype: object

In [98]:
# calculating a few more ratios: Annual EPS Growth & PEG Ratio

for i in comps:
    #s.dropna(inplace = True)
    # s['priceToBookRatio'].fillna(10000,inplace = True)               # lower is better
    # s['priceToSalesRatio'].fillna(10000,inplace = True)              # P/CF, lower is better
    # s['priceToFreeCashFlowsRatio'].fillna(10000,inplace = True)      # lower is better
    # s['priceCashFlowRatio'].fillna(10000,inplace = True)             # lower is better
    # s['grossProfitMargin'].fillna(0.0001,inplace = True)             # higher is better
    # s['operatingProfitMargin'].fillna(0.0001,inplace = True)         # higher is better
    # s['pretaxProfitMargin'].fillna(0.0001,inplace = True)            # higher is better
    # s['netProfitMargin'].fillna(0.0001,inplace = True)               # higher is better
    # s['returnOnEquity'].fillna(0.0001,inplace = True)                # higher is better
    # s['currentRatio'].fillna(0.0001,inplace = True)                  # higher is better
    # s['cashRatio'].fillna(0.0001,inplace = True)                     # higher is better
    # s['quickRatio'].fillna(10000,inplace = True)                     # lower is better
    # s['debtEquityRatio'].fillna(0.0001,inplace = True)               # higher is better
    # s['priceToOperatingCashFlowsRatio'].fillna(10000,inplace = True) # lower is better
    # s['priceEarningsRatio'].fillna(10000, inplace=True)              # P/E: lower is better, so fill na with big number
    
    temp = final_df[final_df['Ticker']==i]
    #print(temp)
    d = temp['eps'].pct_change().reset_index()['eps']                  # annual growth rate: higher is better, set na as small growth rate
    d[0] = 0.000001 
    #print(i,d)
    final_df.loc[(final_df['Ticker']==i), 'Annual EPS Growth'] = [d[j] for j in range(0,len(d))]
    final_df['Annual EPS Growth'].fillna(0.000001, inplace=True)
    final_df['Annual EPS Growth'].replace(0, 0.000001, inplace=True)
    #temp = final_df[final_df['Ticker']==i]
    final_df.loc[(final_df['Ticker']==i), 'PEG Ratio'] = temp['priceEarningsRatio']/final_df[final_df['Ticker']==i]['Annual EPS Growth']
    #final_df.loc[(final_df['Ticker']==i), 'PEG Ratio'] = [temp['P/E'][j]/final_df[final_df['Ticker']==i]['Annual EPS Growth'][j] for j in range(0,len(d))]
    #print(i,temp['P/E'])
    #print(i,final_df[final_df['Ticker']==i]['Annual EPS Growth'])
    #print(type(temp['P/E']))
    #print((final_df['Annual EPS Growth'] == 0).all())
    #print(temp['P/E']/(final_df[final_df['Ticker']==i]['Annual EPS Growth']))
    #print(d.isnull().value_counts())
    #s[i] = pd.DataFrame()
#     for j in range(len(d)):
#         #print(d[j])
#         print(i,final_df[final_df['Ticker']==i]['P/E'][j])
        #final_df.loc[(final_df['Ticker']==i), 'Annual EPS Growth'][j] = d[j]
        #final_df.loc[(final_df['Ticker']==i), 'PEG Ratio'][j] = temp['P/E'][j]/final_df[final_df['Ticker']==i]['Annual EPS Growth'][j]

#s = s[['date', 'Ticker', 'Quarter' 'Annual EPS Growth','PEG Ratio']]              # Create df only 4 daliy ratios
#final_df = final_df[['date', 'Ticker', 'Quarter','eps','Annual EPS Growth','PEG Ratio']]              # Create df only 4 daliy ratios
                                                # Create final df

final_df

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,...,inventory,totalCurrentAssets,totalAssets,totalCurrentLiabilities,totalLiabilities,totalStockholdersEquity,totalEquity,operatingCashFlow,Annual EPS Growth,PEG Ratio
0,2022-03-30,76.28,79.57,74.45,74.74,74.74,1108557,1108557,-1.54,-2.019,...,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0,0.000001,-50173068.127874
1,2022-03-29,71.99,77.36,71.99,77.25,77.25,1139688,1139688,5.26,7.307,...,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0,0.000001,-50173068.127874
2,2022-03-28,67.99,71.7,67.58,70.41,70.41,584848,584848,2.42,3.559,...,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0,0.000001,-50173068.127874
3,2022-03-25,69.6,70.11,65.89,67.79,67.79,790146,790146,-1.81,-2.601,...,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0,0.000001,-50173068.127874
4,2022-03-24,68.45,69.09,65.01,68.99,68.99,567907,567907,0.54,0.789,...,63697000.0,697335000.0,1003251000.0,94446000.0,196566000.0,806685000.0,806685000.0,0.0,0.000001,-50173068.127874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718498,2012-01-09,0.563636,0.627273,0.563636,0.627273,0.31348,5390,5390,0.07,22.921,...,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0,0.000001,19301113.487915
718499,2012-01-06,0.563636,0.672727,0.563636,0.672727,0.336196,8360,8360,0.12,42.463,...,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0,0.000001,19301113.487915
718500,2012-01-05,0.636364,0.663636,0.636364,0.663636,0.331652,4070,4070,0.03,8.17,...,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0,0.000001,19301113.487915
718501,2012-01-04,0.645455,0.645455,0.645455,0.645455,0.322566,1100,1100,0.0,0.0,...,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0,0.000001,19301113.487915
718502,2012-01-03,0.636364,0.636364,0.636364,0.636364,0.318023,880,880,0.0,0.0,...,5580000.0,19655000.0,23888000.0,11322000.0,13224000.0,10664000.0,10664000.0,-770000.0,0.000001,19301113.487915

In [99]:
final_df.isnull().sum()

date                                  0
open                                  0
high                                  0
low                                   0
close                                 0
adjClose                              0
volume                             5264
unadjustedVolume                   5264
change                                0
changePercent                         0
vwap                               1323
changeOverTime                        0
Ticker                                0
Quarter                               0
period                             9268
priceToBookRatio                  10015
priceToSalesRatio                 93240
priceEarningsRatio                11749
priceToFreeCashFlowsRatio         12115
priceToOperatingCashFlowsRatio    12991
priceCashFlowRatio                12991
grossProfitMargin                 92493
operatingProfitMargin             92493
pretaxProfitMargin                92493
netProfitMargin                   92493
returnOnEquity                     9268
currentRatio                      10458
quickRatio                        10458
cashRatio                         10458
debtEquityRatio                    9268
revenue                            9329
eps                                9329
weightedAverageShsOut              9329
netIncome                          9329
shortTermInvestments               9392
cashAndShortTermInvestments        9392
netReceivables                     9392
inventory                          9392
totalCurrentAssets                 9392
totalAssets                        9392
totalCurrentLiabilities            9392
totalLiabilities                   9392
totalStockholdersEquity            9392
totalEquity                        9392
operatingCashFlow                  9835
Annual EPS Growth                     0
PEG Ratio                         11749
dtype: int64

In [20]:
final_df.isnull().sum()

date                                   0
open                                   0
high                                   0
low                                    0
close                                  0
adjClose                               0
volume                              6256
unadjustedVolume                    6256
change                                 0
changePercent                          0
vwap                                3484
changeOverTime                         0
Ticker                                 0
Quarter                                0
period                             28582
priceToBookRatio                   29392
priceToSalesRatio                 116676
priceEarningsRatio                 30938
priceToFreeCashFlowsRatio          30988
priceToOperatingCashFlowsRatio     31927
priceCashFlowRatio                 31927
grossProfitMargin                 115866
operatingProfitMargin             115866
pretaxProfitMargin                115866
netProfitMargin                   115866
returnOnEquity                     28582
currentRatio                       29708
quickRatio                         29708
cashRatio                          29708
debtEquityRatio                    28582
revenue                            28582
eps                                28582
weightedAverageShsOut              28582
netIncome                          28582
shortTermInvestments               28644
cashAndShortTermInvestments        28644
netReceivables                     28644
inventory                          28644
totalCurrentAssets                 28644
totalAssets                        28644
totalCurrentLiabilities            28644
totalLiabilities                   28644
totalStockholdersEquity            28644
totalEquity                        28644
operatingCashFlow                  28895
Annual EPS Growth                      0
PEG Ratio                          30938
dtype: int64

In [100]:
# dropping null values
final_df = final_df.dropna()

In [101]:
final_df.isnull().sum()

date                              0
open                              0
high                              0
low                               0
close                             0
adjClose                          0
volume                            0
unadjustedVolume                  0
change                            0
changePercent                     0
vwap                              0
changeOverTime                    0
Ticker                            0
Quarter                           0
period                            0
priceToBookRatio                  0
priceToSalesRatio                 0
priceEarningsRatio                0
priceToFreeCashFlowsRatio         0
priceToOperatingCashFlowsRatio    0
priceCashFlowRatio                0
grossProfitMargin                 0
operatingProfitMargin             0
pretaxProfitMargin                0
netProfitMargin                   0
returnOnEquity                    0
currentRatio                      0
quickRatio                        0
cashRatio                         0
debtEquityRatio                   0
revenue                           0
eps                               0
weightedAverageShsOut             0
netIncome                         0
shortTermInvestments              0
cashAndShortTermInvestments       0
netReceivables                    0
inventory                         0
totalCurrentAssets                0
totalAssets                       0
totalCurrentLiabilities           0
totalLiabilities                  0
totalStockholdersEquity           0
totalEquity                       0
operatingCashFlow                 0
Annual EPS Growth                 0
PEG Ratio                         0
dtype: int64

In [102]:
final_df.shape

(618368, 47)

In [23]:
final_df.shape

(639736, 47)

In [ ]:
# saving the data in the csv format
# named final_removenullvalue_june27.csv in our work
final_df.to_csv('final_removenullvalue_Aug26.csv')